body {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gameinfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 20px;
}

.logo {
  width: 10em;
  height: auto;
  margin: 10px;
}

.instructions {
  margin: 10px 10px;
  width: 10em;
  text-align: center;
}

.hud {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  margin: 0 20px;
}

#lifecounter {
  display: flex;
  justify-content: center;
}

.lives {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 200px;
}

.life {
  display: flex;
  justify-content: center;
  padding: 10px 5px;
}

.lifeimg {
  width: 30px;
  height: auto;
}

.score {
  font-size: 50px;
  margin: 5px 10px;
  text-align: center;
}

