body {
  background-color: white;
}

header {
  display: flex;
  flex-direction: row;
}

.gameinfo {
  margin: 0 20px;
}

.logo {
  width: 80px;
  height: auto;
  margin: 10px;
}

.instructions {
  margin: 10px 10px;
  width: 300px;
}

.hud {
  display: flex;
  flex-direction: flex-end;
  margin: 0 20px;
}

.lives {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: center;
}

.life {
  display: flex;
  justify-content: center;
  padding: 10px 5px;
}

.lifeimg {
  width: 30px;
  height: auto;
}

.score {
  font-size: 50px;
  margin: 5px 10px;
}

